.header-img {
  max-width: 100%;
  height: 600px;
  background: url('header.png');
  background-size: cover;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: auto;
  background-color: white;
}
h1, h2, h3 {
  text-align: center;
}
p {
  text-align: center;
  font-size: 20px;

}

img {
  border-radius: 8px;
}
.topnav {
  overflow: hidden;
  background-color: #000000;
  font-weight: 700;

}
.topnav a {
  float: left;
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.topnav a:hover {
  background-color: #CFFF00;
  color: #000000;
}
footer {
  position: sticky;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #000000;
  color: #ffffff;
  display: grid;
  place-items: center;
  line-height: normal;
  padding: 0px;
  overflow: hidden;
}
a {
  outline: none;
  text-decoration: none;
  padding: 2px 1px 0;
}

a:link {
  color: #107805;
  font-weight: bold;
}

a:visited {
  color: #8ce5ed;
}

a:focus {
  border-bottom: 1px solid;
  background: #aeb4b5;
}

a:hover {
  border-bottom: 1px solid;
  background: #aeb4b5;
  color: #000000;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
img {
  border-radius: 8px;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

* {
  box-sizing: border-box;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
td:empty{
    background-color: #f2f2f2;
}

form {
  border-radius: 1px;
  background-color: #f2f2f2;
  padding: 20px;
  margin: auto;
  width: 30%;
  text-align:  center;
}

input {
  width: 100%;
  display: inline-block;
  padding: 10px 20px;
  margin: auto;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #CFFF00;
  color: black;
  font-weight: 1000;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[type=submit]:hover {
  background-color: #b7e004;
}
